.env
.env.*
!.env.example
**/target/
**/.next/
**/node_modules/
**/.venv/
**/__pycache__/
**/.pytest_cache/
**/.ruff_cache/
**/.mypy_cache/
**/coverage/
**/dist/
**/build/
**/.idea/
**/.vscode/
*.iml
*.class
**/data/*.db
*.log
